@inject DialogService DialogService
@using RentACar.Application.DTOs
@using Pages
@using RentACar.Application.DTOs.OtherDTOs
@using RentACar.Client.Utils
<section id="teaser" style="background-image:url(/website/teaserbackground.jpg); background-repeat: no-repeat;
  background-attachment: fixed;
background-size:contain;
">
    <div class="container" >
        <h1 class="title">
            Araç Kirala

        </h1>

        <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" JustifyContent="JustifyContent.Center" Class="shadows rz-p-12">
            <div class="rz-shadow-12 rz-p-12 rz-text-align-left" style="font-size:small;background-color:rgba(192,192,192,0.3);border-radius:15px">

                <EditForm Model="carRezervation" OnValidSubmit="OpenOrder">
                    <RadzenRow Style="flex:none">
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenStack>

                                <RadzenFormField Text="Alış Lokasyonu" Variant="@variant">


                                    <RadzenDropDown class="form-control autocomplete-location" AllowClear="true" @bind-Value=carRezervation.LocationStartId AllowVirtualization="true" Name="Location"
                                                    AllowFiltering="true" Data=@customers TextProperty="Decription" ValueProperty="Id" Placeholder="Alış Lokasyonu Ara" />



                                </RadzenFormField>
                               <RadzenRow >
                                    <RadzenColumn Style="flex:none;padding:0px;margin:0px;text-align:left">
                                        <RadzenCheckBox @bind-Value=isActive Name="CheckBox1" />
                                   </RadzenColumn>
                                    <RadzenColumn Style="flex:none;margin:0px">
                                        <RadzenLabel Text="Bırakacağım Konum" Component="CheckBox1" Style=" font-size:x-small;text-align:left;color:white" />

                                   </RadzenColumn>
                               </RadzenRow>
                                <RadzenFormField Visible="isActive"  Text="Bırakılacak Lokasyon" Variant="@variant">


                                    <RadzenDropDown class="form-control autocomplete-location" AllowClear="true" @bind-Value=carRezervation.LocationEndId AllowVirtualization="true" Name="Location"
                                                    AllowFiltering="true" Data=@customers Placeholder="Bırakılacak Lokasyon Ara" TextProperty="Decription" ValueProperty="Id" />




                                </RadzenFormField>

                            </RadzenStack>




                        </RadzenColumn>

                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenStack>
                                <RadzenFormField Text="Alış Tarih & Saat" Variant="@variant">


                                    <RadzenDatePicker class="form-control datepicker" @bind-Value=carRezervation.StartDate ShowTime="true" HourFormat="24" Min="DateTime.UtcNow.Date" DateFormat="dd/MM/yyyy HH:mm" Name="DatePickerHourFormat" />



                                </RadzenFormField>
                            </RadzenStack>


                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenStack>
                                <RadzenFormField Text="Bırakış Tarih & Saat" Variant="@variant">


                                    <RadzenDatePicker class="form-control datepicker" @bind-Value=carRezervation.EndDate ShowTime="true" Min="DateTime.UtcNow.Date.AddDays(1)" HourFormat="24" DateFormat="dd/MM/yyyy HH:mm" Name="DatePickerHourFormat" />



                                </RadzenFormField>
                            </RadzenStack>


                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeSM="3">
                            <RadzenStack>



                                <RadzenButton type="submit"  Style="margin:0px" class="submit" Text="Araç Listele" />



                            </RadzenStack>


                        </RadzenColumn>

                    </RadzenRow>
                    @*                     <div class="col-md-3 col-xs-3">
                    <div class="location">
                    <div class="row">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span>  Pick-up</span>

                    </div>
                    <div class="row">
                    <div class="rz-p-12 rz-text-align-center">
                    <RentACar.Client.CustomComponents.LocationDropDown @bind-Value="asd" @bind-Value:event="ValueChanged" />
                    </div>
                    </div>
                    </div>
                    </div>

                    <div class="col-md-3 col-xs-3">
                    <div class="location">
                    <div class="row">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span>  Pick-up</span>

                    </div>
                    <div class="row">
                    <div class="rz-p-12 rz-text-align-center">
                    <RentACar.Client.CustomComponents.LocationDropDown @bind-Value="dropOff" @bind-Value:event="ValueChanged" />

                    </div>
                    </div>
                    </div>
                    </div>

                    <div class="col-md-3 col-xs-3">
                    <div class="datetime pick-up">
                    <div class="date pull-left">
                    <div class="input-group">
                    <div class="row">
                    <span class="input-group-addon pixelfix"><span class="glyphicon glyphicon-calendar"></span> Pick-up</span>

                    </div>
                    <div class="row">
                    <div class="rz-p-12 rz-text-align-center">
                    <RadzenDatePicker @bind-Value=@value ShowTime="true" HourFormat="12" DateFormat="MM/dd/yyyy h:mm tt" Name="DatePickerHourFormat" />
                    </div>

                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="col-md-3 col-xs-3">
                    <div class="datetime pick-up">
                    <div class="date pull-left">
                    <div class="input-group">
                    <div class="row">
                    <span class="input-group-addon pixelfix"><span class="glyphicon glyphicon-calendar"></span> Pick-up</span>

                    </div>
                    <div class="row">
                    <div class="rz-p-12 rz-text-align-center">
                    <RadzenDatePicker @bind-Value=@value ShowTime="true" HourFormat="12" DateFormat="MM/dd/yyyy h:mm tt" Name="DatePickerHourFormat" />
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    *@
                    @*          <input type="submit" class="submit" name="submit" value="continue car reservation" id="checkoutModalLabel"> *@
                </EditForm>

            </div>
        </RadzenStack>


    </div>
</section>
<style>
    .shadows div {
        text-align: center;
    }
</style>
@code {

    [Inject]
    HttpClient Client { get; set; }
    CarReservationDTO carRezervation = new CarReservationDTO();
    Variant variant = Variant.Outlined;
    List<LocationDTO> customers = new List<LocationDTO>();
    bool isActive = false;
    protected override async Task OnInitializedAsync()
    {
        customers = await Client.GetServiceResponseNullTokenAsync<List<LocationDTO>>("api/Locatio/Locations");
        carRezervation.StartDate = DateTime.UtcNow;
        carRezervation.EndDate = DateTime.UtcNow.AddDays(1);

    }
    public async Task OpenOrder()
    {
        await DialogService.OpenAsync("Araç Rezervasyon Ekranı", ds =>
        @<CarRezervation 
        startlocation="carRezervation.LocationStartId" 
        endlocation="carRezervation.LocationEndId" 
        startdate="carRezervation.StartDate" 
        enddate="carRezervation.EndDate"/>);
    }
    public void Test()
    {
        if (isActive)
        {
            isActive = false;
        }
        else
        {
            isActive = true;
        }
    }


}
