<!-- Information start -->
<section id="information" class="container">

    <!-- Video start -->
    <div class="row wow fadeInRight" data-wow-offset="50">
        <div class="col-md-6">
            <div class="video">
                <!-- Youtube iframe start -->
                <iframe width="420" height="315" src="//www.youtube.com/embed/9_5pjZlWV3A?rel=0&autoplay=0" allowfullscreen></iframe>
                <!-- Youtube iframe end -->
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="title">Tanýtým Turu</h2>
            <h3 class="subtitle">Bir Tura Çýkalýmmý Nedersiniz</h3>
            <p>Buraya Ýçerik Gelecek <span class="label label-default">This is an labeled text snippet!</span>, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, vero voluptas delectus explicabo maxime ad qui incidunt! no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    <!-- Video end -->

</section>
<!-- Information end -->